<h1>Add a category</h1>

<h3>Add category here:</h3>

<form action="/categories" method="post">
  <label for="name">Category Name</label>
  <input id="name" type="text" name="name">
  <button type="submit" class="btn btn-success">Add Category</button>
</form>
