<h1>$category.getName() tasks:</h1>

<ul>
  #foreach($task in $category.getTasks())
  <li>$task.getDescription()</li>
  #end
</ul>
<br>
<ul>
  <li><a href="/categories/$category.getId()/tasks/new">Add a new task</a></li>
  <li><a href="/categories">All categories</a></li>
</ul>
