<h1>All categories</h1>
<ul>
  #foreach ($category in $categories)
    <li><a href="/categories/$category.getId()">$category.getName()</a></li>
  #end
</ul>
<br>
<ul>
  <li><a href="/categories/new">Add New Category</a></li>
  <li><a href="/">Go to main page</a></li>
</ul>
